<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-left">
	<html>
	<head>
	<h2>SUB-TOPICS</h2>
	</head>
	<body>
		<h4>ALGEBRA SERIES</h4>	
		<ul>
			<li><p1><a href="https://www.youtube.com/watch?v=NybHckSEQBI">algeb1-(basic introduction)</a></p1></li>
			<li><p1><a href="https://www.youtube.com/watch?v=U-7nq7OG18s">algeb1-(algebric expression)</a></p1></li>
			<li><p1><a href="https://www.youtube.com/watch?v=PVoTRu3p6ug">algeb1-(crash course)</a></p1></li>
	</body>
	<style >
		h2 {text-align: center;}
	</style>
	</html>
</div>
	
