<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-left">
	<html>
	<head>
	<h2>SUB-TOPICS</h2>
	</head>
	<body>
		<h4>TRIGNOMETRY SERIES</h4>	
		<ul>
			<li><p1><a href="https://www.youtube.com/watch?v=SES2V4Y21ic">trig1-(angles with real life example)</a></p1></li>
			<li><p1><a href="https://youtu.be/cC0fZ_lkFpQ?t=193">trig1-(why we need PI and how it helps us)</a></p1></li>
			<li><p1><a href="https://youtu.be/Tw0t2Y4tT-k?t=926">trig1-(crash course)</a></p1></li>
	</body>
	<style >
		h2 {text-align: center;}
	</style>
	</html>
</div>
	
